# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
env/
venv/
ENV/
.env
.venv
.pytest_cache/

# Editor
.vscode/
.idea/
*.swp
*.swo

# Logs and databases
*.log
*.sqlite3

# System files
.DS_Store
Thumbs.db
#Variavel de ambiente
.env
